h6 {
  margin-left: 20px;
  font-size: 20px;
}

.card {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 250px;
}

.card-header {
  text-align: center;
}

.jumbotron {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}
