body {
  margin-bottom: 0 !important;
}
h5 {
  margin-left: 10px;
}

h6 {
  margin-left: 20px;
  margin-bottom: 0 !important;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  color: aliceblue;
  height: 40px;
}

.card {
  margin-left: 200px;
  margin-right: 200px;
}

.card-header {
  text-align: center;
}

.jumbotron {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.col-lg {
  background-color: slategray;
  margin-bottom: 10px;
  margin-left: 20px;
}
.fiveDayForcast {
  align-items: center;
}
